body {
    background: rgb(181,0,255);
    background: linear-gradient(330deg, rgba(181,0,255,1) 0%, rgba(0,255,211,1) 100%);
}

.room-list-con {
    background: rgb(255,255,255);
    background: linear-gradient(130deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.2) 100%);
    padding: 3rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-radius: 10%;
}

.room-list-item {
    padding-bottom: 0.8rem;
    font-size: 1.5rem;
    list-style: none;
    margin-left: -1.6em;
    color: white;
}

.room-heading-1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0rem;
    color: white;
    
}